.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 460px;
  width: 30%;
}
.large {
  width: 60%;
}

.project-card .project-image-container {
  width: 100%;
  height: 325px;
  overflow: hidden;
  border-radius: 30px;
  margin-bottom: 15px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-card .project-image-container img {
  height: 80%;
  width: 400px;
  border-radius: 10px;
}

.project-card .project-card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--fontColor);
  height: 120px;
}

.project-card .project-card-text .project-title {
  font-size: 1.8rem;
  display: flex;
  gap: 10px;
}
.project-card .project-card-text .project-title a {
  color: var(--accentColor);
  text-decoration: none;
  display: grid;
  place-items: center;
}
.project-card .project-card-text p {
  font-size: 1.2rem;
  font-weight: 500;
}
