* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--backColor);
}

.accent-color {
  color: var(--accentColor);
}

a:hover {
  color: var(--accentColor);
}
